{#
   Commento - a commenting server similar to Disqus
    @see https://docs.commento.io/
 #}
<div id="jscomments">
	<div id="commento"></div>
	<script defer src="{{ host|trim('/')|e }}/js/commento.js"></script>
</div>
